:host(app-results-quiz) {
  .button-charts {
    display: flex;
    justify-content: space-around;
  }
  .container-charts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
