<h1>Liste des résultats du/des quiz</h1>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
        <tr>
            <th>Date</th>
            <th>Utilisateur</th>
            <th>Score</th>
            <th>Nom du quiz</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.date }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.score }}</td>
            <td>{{ data.quizName }}</td>
            <td>
                <a>Détails 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>

<div class="button-charts">
    <button nz-button [nzSize]="'large'" nzType="primary" (click)="viewPieChart()">
        <i nz-icon nzType="pie-chart" nzTheme="outline"></i>Voir les résultats dans un graphique
    </button>

    <button nz-button [nzSize]="'large'" nzType="primary" (click)="viewLineChart()">
        <i nz-icon nzType="line-chart" nzTheme="outline"></i>Voir l'évolution des résultats
    </button>
</div>

<div class="container-charts">
    <app-line-chart style="margin-top: 40px" *ngIf="lineChart"></app-line-chart>
    <app-pie-chart *ngIf="pieChart"></app-pie-chart>
</div>
