<h2 style="text-align: center">Création de jeux interactif</h2>
<form nz-form>
    <div *ngFor="let question of questions; let i = index">
        <nz-form-item>
            <div nz-col nzSpan="5" nzOffset="5">
                <h3>Jeu {{ i + 1 }}</h3>
            </div>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">Catégorie du jeux</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Selectionner la catégorie du jeux"
                    [(ngModel)]="selectedValueQuizCategory"
                    [ngModelOptions]="{ standalone: true }"
                >
                    <nz-option nzLabel="Pollution digitale" nzValue="fr"></nz-option>
                    <nz-option nzLabel="Smartphone" nzValue="en"></nz-option>
                    <nz-option nzLabel="Obsolescence programmée" nzValue="cn"></nz-option>
                    <nz-option nzLabel="Poids carbone" nzValue="de"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzFor="quiz">Nom du bouton</nz-form-label>
            <nz-form-control [nzSm]="6">
                <input nz-input id="quiz" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzFor="quiz">Contenu {{ i + 1 }}</nz-form-label>
            <nz-form-control [nzSm]="12">
                <ckeditor [editor]="Editor" data="<p>Penser à supprimer régulièrement vos e-mails...</p>"></ckeditor>
            </nz-form-control>
        </nz-form-item>
        <nz-divider></nz-divider>
    </div>
    <div nz-col nzSpan="6" nzOffset="6">
        <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="addQuestion()">
            <i nz-icon nzType="plus"></i>Ajouter un jeu
        </button>
    </div>
</form>
<button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="addQuestion()">
    <i nz-icon nzType="check"></i>Valider
</button>
