:host(app-web-app-activity) {
  .content-web-app {
    height: 100vh;
  }
  .content-button {
    display: flex;
    justify-content: flex-start;
    //border: 1px solid #e8e8e8;
    // margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .none {
    display: none;
  }
  svg {
    width: 25%;
    display:block;
    margin: 0 auto;
    #whole-flower {
      animation: bounce 1s ease-in-out -5s both infinite;
    }
  }

  @keyframes bounce{
    50% {transform:translateY(20px);}
    100%{transform:translateY(0px);}
  }
  .earth {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%) scale(1.7);
  }
}
