<div *ngIf="!mapDigitalPollution && !quizDigitalPollution" class="center-button">
    <button nz-button [nzSize]="'large'" nzType="primary" (click)="launchMapDigitalPollution()">
        <i nz-icon nzType="switcher" nzTheme="outline"></i>Carte
    </button>

    <button nz-button [nzSize]="'large'" nzType="primary" (click)="launchQuizDigitalPollution()">
        <i nz-icon nzType="question" nzTheme="outline"></i>Quiz
    </button>
    <button nz-button [nzSize]="'large'" nzType="primary" (click)="previous()">
        <i nz-icon nzType="rollback" nzTheme="outline"></i>Retour
    </button>
</div>

<app-web-app-quiz *ngIf="quizDigitalPollution" (backSpace)="previousSetInteractiveGames()"></app-web-app-quiz>
<app-web-app-activity *ngIf="mapDigitalPollution" (backSpace)="previousSetInteractiveGames()"></app-web-app-activity>
