<div class="content-web-app">
    <h1 *ngIf="displayWebApp" style="text-align: center">Bienvenue sur l'application !</h1>
    <div class="web-app" *ngIf="displayWebApp">
        <app-web-app-menu></app-web-app-menu>
        <!--        <div class="left">
            <div class="content-button">
                <button nz-button [nzSize]="'large'" nzType="primary" (click)="openModal()">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>Envoyer un email
                </button>
            </div>
            <div class="content-button">
                <button nz-button [nzSize]="'large'" nzType="primary" (click)="openModal()">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>Envoyer un email
                </button>
            </div>
            <div class="content-button">
                <button nz-button [nzSize]="'large'" nzType="primary" (click)="openModal()">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>Envoyer un email
                </button>
            </div>
            <div class="content-button">
                <button nz-button [nzSize]="'large'" nzType="primary" (click)="openModal()">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>Envoyer un email
                </button>
            </div>
            <div class="content-button">
                <button nz-button [nzSize]="'large'" nzType="primary" (click)="openModal()">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>Envoyer un email
                </button>
            </div>
        </div>
        <div class="right">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="350"
                height="350"
                class="earth"
            >
                <defs>
                    <clipPath id="clip">
                        <circle cx="175" cy="175" r="157" />
                    </clipPath>
                </defs>
                <circle cx="175" cy="175" r="170" fill="#2314a1">
                    <animate
                        attributeName="r"
                        calcMode="spline"
                        keySplines="0.3 0 0.7 1;0.3 0 0.7 1"
                        values="170;175;170"
                        dur="5s"
                        repeatCount="indefinite"
                    />
                </circle>
                <circle cx="175" cy="175" r="157" fill="#4294fe" />
                <g clip-path="url(#clip)">
                    <g>
                        <g id="land" fill="#43d8aa">
                            <path
                                d="M14 101v12a6 6 0 0 1 6 6 6 6 0 0 1-6 6v12h40v-12a6 6 0 0 1-6-6 6 6 0 0 1 6-6v-12H14zm75 177v8a7.5 7.5 0 0 1 7.5 7.5A7.5 7.5 0 0 1 89 301v9h32v-9a7.5 7.5 0 0 1-7.5-7.5 7.5 7.5 0 0 1 7.5-7.5v-8z"
                            />
                            <rect y="9" x="197" width="52" height="30" rx="15" ry="15" />
                            <rect y="57" x="-34" width="150" height="56" rx="28" ry="28" />
                            <rect y="81" x="176" width="65" height="30" ry="15" rx="15" />
                            <rect y="125" x="-3" width="82" height="39" ry="19.5" rx="19.5" />
                            <rect y="139" x="189" width="195" height="64" rx="32" ry="32" />
                            <rect y="218" x="250" width="100" height="40" rx="20" ry="20" />
                            <rect y="230" x="-17" width="180" height="56" ry="28" rx="28" />
                            <rect y="301" x="56" width="104" height="30" rx="15" ry="15" />
                        </g>
                        <use transform="translate(400 0)" xlink:href="#land" />
                        <animateTransform
                            attributeName="transform"
                            attributeType="XML"
                            type="translate"
                            from="0 0"
                            to="-400 0"
                            dur="15s"
                            repeatCount="indefinite"
                        />
                    </g>
                    <g>
                        <g id="clouds" fill="#e6ebfc">
                            <path
                                d="M242 87v6.03a3 3 0 0 1 .38-.03 3 3 0 0 1 3 3 3 3 0 0 1-3 3 3 3 0 0 1-.38-.03V105h18v-6a3 3 0 0 1-3-3 3 3 0 0 1 3-3v-6zm53-2v4a5 5 0 0 1 0 10v4h30v-4a5 5 0 0 1 0-10v-4h-30zM48 209v6a4.5 4.5 0 1 1 0 9v3h29v-3a4.5 4.5 0 1 1 0-9v-6zM81 65v3a3.5 3.5 0 1 1 0 7v2h16v-2a3.5 3.5 0 1 1 0-7v-3zm18 181v4a5 5 0 0 1 0 10v4h30v-4a5 5 0 0 1 0-10v-4z"
                            />
                            <rect y="50" x="64" width="53" height="18" rx="9" ry="9" />
                            <rect y="53" x="269" width="80" height="36" rx="18" ry="18" />
                            <rect y="75" x="0" width="112" height="22" rx="11" ry="11" />
                            <rect y="83" x="236" width="32" height="10" rx="5" ry="5" />
                            <rect y="99" x="227" width="112" height="24" rx="12" ry="12" />
                            <rect y="102" x="146" width="36" height="16" rx="8" ry="8" />
                            <rect y="172" x="119" width="62" height="30" rx="15" ry="15" />
                            <rect y="197" x="0" width="90" height="18" rx="9" ry="9" />
                            <rect y="293" x="219" width="30" height="16" rx="8" ry="8" />
                            <rect y="224" x="31" width="118" height="26" rx="13" ry="13" />
                            <rect y="260" x="77" width="77" height="36" rx="18" ry="18" />
                            <rect y="264" x="228" width="44" height="22" rx="11" ry="11" />
                        </g>
                        <use transform="translate(400 0)" xlink:href="#clouds" />
                        <animateTransform
                            attributeName="transform"
                            attributeType="XML"
                            type="translate"
                            from="0 0"
                            to="-400 0"
                            dur="10s"
                            repeatCount="indefinite"
                        />
                    </g>
                </g>
            </svg>
        </div>-->
    </div>

    <h1 *ngIf="!displayWebApp" style="text-align: center">Lancement de l'Application...</h1>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151.2 314.8" *ngIf="!displayWebApp">
        <style>
            .st0 {
                fill: none;
                stroke: #58b947;
                stroke-width: 7;
                stroke-miterlimit: 10;
            }
            .st1 {
                opacity: 0.42;
                fill: #0b5135;
            }
            .st2 {
                fill: #58b947;
            }
            .st3 {
                fill: none;
                stroke: #3c5b36;
                stroke-width: 0.5;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 10;
            }
            .st4 {
                fill: #f46158;
            }
            .st5 {
                fill: #ff9494;
            }
            .st6 {
                fill: #f79651;
            }
            .st7 {
                fill: #3d3d3d;
            }
            .st8 {
                fill: none;
                stroke: #3d3d3d;
                stroke-width: 0.5;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 10;
            }
            .st9 {
                fill: none;
                stroke: #3d3d3d;
                stroke-miterlimit: 10;
            }
            .st10 {
                fill: none;
                stroke: #3d3d3d;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 10;
            }
            .st11 {
                fill: #ef713a;
                stroke: #d64c00;
                stroke-miterlimit: 10;
            }
        </style>

        &lt;!&ndash; Stem &ndash;&gt;
        <g id="whole-flower">
            <g id="stem">
                <path class="st0" d="M80.5 34.8l-1.9 147" />
                <path class="st1" d="M76.6 70.4l7 .3-.2 6.2h-7zM75.3 173h7l-.1 2.3h-7z" />
                <path class="st2" d="M77.7 114.3s-17.5-19.5-24.5-16 19.5 31 24.5 30.5c5.1-.5 0-14.5 0-14.5z" />
                <path class="st2" d="M79.6 114.3s17.5-19.5 24.5-16-19.5 31-24.5 30.5c-5.1-.5 0-14.5 0-14.5z" />
                <path
                    class="st3"
                    d="M84.2 118.5l15.5-16.4M95.5 106.6l4.5-.5M90.8 111.4l4.1-.1M95.5 106.6l.5-4.2M90.8 111.6l.1-4.2M86.1 116.8l4.4-.4M85.8 116.7l.9-4.7M73.9 119.4L58.4 103M62.6 107.5l-4.5-.5M67.3 112.3l-4.1-.1M62.6 107.5l-.5-4.2M67.4 112.5l-.1-4.1M72.1 117.8l-4.4-.5M72.3 117.6l-.8-4.7"
                />
            </g>
            &lt;!&ndash; Flower head &ndash;&gt;
            <g id="flower">
                <path
                    class="st4"
                    d="M52.7 0l14.7 18.7L80.7 0l10.7 18.7L106 0l10.7 18.7s20 52-32 52c-48 0-58-24-32-70.7z"
                />
                <ellipse class="st5" cx="58.2" cy="41" rx="7.5" ry="3.5" />
                <ellipse class="st5" cx="100.9" cy="41.2" rx="7.5" ry="3.5" />
                <path
                    class="st6"
                    d="M80.7 0S78.1 12.7 70 17.7c-3.2 2-2.7 1-2.7 1L80.7 0zM106 0s-1.7 10.2-10.2 16.8c-2.7 2.1-4.5 1.8-4.5 1.8L106 0zM52.6 0s.7 4.8-2.2 10.8c-1.4 2.9-3.5 7.3-7.2 9.2 0 0 5.9-15 9.4-20z"
                />
                <circle class="st7" cx="92.2" cy="31.3" r="3.4" />
                <path class="st8" d="M87 27.2l4.6 3.8M90.2 25.3l1.2 3.8M97.4 27.2l-3.1 2.4M94.3 25.1l-1.1 3.1" />
                <g>
                    <circle class="st7" cx="67.3" cy="31.3" r="3.4" />
                    <path class="st8" d="M62.1 27.2l4.6 3.8M65.3 25.3l1.2 3.8M72.5 27.2l-3 2.4M69.5 25.1l-1.2 3.1" />
                </g>
                <path class="st10" d="M73.1 47.5s-.6 7.3 7 7.2c7.1 0 6.7-7.2 6.7-7.2" />
            </g>
        </g>

        &lt;!&ndash; End of flower &ndash;&gt;

        <g id="pot_1_">
            <path
                class="st11"
                d="M5.3 175.8H146c3.1 0 5.3 2.9 4.6 5.9l-9.5 29.1-129.7-.5L.7 181.7c-.9-2.6 1.3-5.9 4.6-5.9z"
            />
            <path class="st11" d="M11.5 210.8l1.7 98.6c0 2.7 2.3 4.9 5 4.9H133c2.7 0 4.9-2.1 5-4.7l3.1-98.8H11.5z" />
        </g>
    </svg>
</div>
