<!--<button nz-button [nzSize]="'large'" nzType="primary" *ngIf="!digitalPollution" (click)="launchDigitalPollution()">
    <i nz-icon nzType="mail" nzTheme="outline"></i>Pollution du numérique
</button>-->

<div nz-row class="space-around" *ngIf="!digitalPollution">
    <div nz-col nzSpan="12" class="center">
        <button nz-button [nzSize]="'large'" nzType="primary" (click)="launchDigitalPollution()">
            <i nz-icon nzType="cloud" nzTheme="outline"></i>Pollution du digitale
        </button>
    </div>
    <div nz-col nzSpan="12" class="center">
        <button nz-button [nzSize]="'large'" nzType="primary" (click)="launchDigitalPollution()">
            <i nz-icon nzType="cloud" nzTheme="outline"></i>L'impact du Smartphone
        </button>
    </div>
</div>
<div nz-row class="space-around" *ngIf="!digitalPollution">
    <div nz-col nzSpan="12" class="center">
        <button
            nz-button
            [nzSize]="'large'"
            nzType="primary"
            *ngIf="!digitalPollution"
            (click)="launchDigitalPollution()"
        >
            <i nz-icon nzType="cloud" nzTheme="outline"></i>L'obscolescence programmée
        </button>
    </div>
    <div nz-col nzSpan="12" class="center">
        <button
            nz-button
            [nzSize]="'large'"
            nzType="primary"
            *ngIf="!digitalPollution"
            (click)="launchDigitalPollution()"
        >
            <i nz-icon nzType="cloud" nzTheme="outline"></i>Empreinte carbone
        </button>
    </div>
</div>

<app-web-app-activities-list *ngIf="digitalPollution" (backSpace)="handlePrevious()"></app-web-app-activities-list>
