:host(app-web-app-menu)  {
  app-web-app-menu {
    height: 100%;
  }
  .space-around {
    display: flex;
    justify-content: space-around;
    height: calc(50vh - 10px);
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }
}
