<h2 class="center">
    Bienvenue sur <strong>404</strong>. Application intéractive pour <strong>La cité de l'environment</strong>.
</h2>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-control nzErrorTip="The input is not valid E-mail!">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input formControlName="email" id="email" placeholder="Email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
            </label>
            <a class="login-form-forgot" class="login-form-forgot" routerLink="/forgot-password">Forgot password</a>
            <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
            Or
            <a routerLink="/register-user">register now!</a>
        </nz-form-control>
    </nz-form-item>
</form>
