<div style="padding:30px;">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Général">
                <p>Demande d'email à la fin du quiz (boolean), activer la partie nom et prénom pour le quiz(boolean)</p>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Accessibilité">
                <i>Cette section permet une configuration de l'application en fonction de l'environement de l'exposition (language, taille de police, mode daltonien...)</i>
                <nz-divider></nz-divider>
                <nz-form-item>
                    <nz-form-label  nzFor="language">Langue de l'application</nz-form-label>
                    <nz-form-control>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selectionner la langue" [(ngModel)]="selectedValueCountry">
                            <nz-option nzLabel="🇫🇷 Français" nzValue="fr"></nz-option>
                            <nz-option nzLabel="🇬🇧 Anglais" nzValue="en"></nz-option>
                            <nz-option nzLabel="🇨🇳 Chinois" nzValue="cn"></nz-option>
                            <nz-option nzLabel="🇩🇪 Allemand" nzValue="de"></nz-option>
                            <nz-option nzLabel="🇮🇹 Italien" nzValue="it"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label  nzFor="language">Taille de la police</nz-form-label>
                    <nz-form-control>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selectionner la taille de la police" [(ngModel)]="selectedValuePolice">
                            <nz-option nzLabel="12" nzValue="fr"></nz-option>
                            <nz-option nzLabel="18" nzValue="en"></nz-option>
                            <nz-option nzLabel="30" nzValue="cn"></nz-option>
                            <nz-option nzLabel="36" nzValue="de"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Autres">
                <p>Card content</p>
            </nz-card>
        </div>
    </div>
</div>
