<div class="container-profile">
    <nz-card style="width:300px;" nzTitle="Mon profil" *ngIf="authService.userData as user" [nzExtra]="signout">
        <p>
            User ID: <strong>{{ user.uid }}</strong>
        </p>
        <p>
            Email: <strong>{{ user.email }}</strong>
        </p>
        <p>
            Email Verified: <strong>{{ user.emailVerified }}</strong>
        </p>
    </nz-card>

    <ng-template #signout>
        <button nz-button [nzSize]="'large'" nzType="primary" (click)="authService.SignOut()">
            <i nz-icon nzType="logout" nzTheme="outline"></i>Deconnexion
        </button>
    </ng-template>
</div>
