<nz-layout class="app-layout">
    <nz-sider
        id="menu-sidebar"
        class="menu-sidebar"
        nzCollapsible
        nzWidth="256px"
        nzBreakpoint="md"
        [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null"
        [ngClass]="{
            none: isfullscreen
        }"
    >
        <div class="sidebar-logo">
            <a routerLink="/" class="logo"></a>
        </div>
        <ul nz-menu nzMode="inline" [nzTheme]="'dark'">
            <li nz-submenu nzOpen nzTitle="Utilisateur" nzIcon="user">
                <ul>
                    <li nz-menu-item routerLink="profile">Profil</li>
                    <li nz-menu-item (click)="authService.SignOut()">Déconnexion</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Jeux éducatifs" nzIcon="appstore">
                <ul>
                    <li nz-menu-item routerLink="interactive-games">Interactifs</li>
                    <li nz-menu-item routerLink="quiz">Quiz</li>
                    <li nz-menu-item routerLink="results-quiz">Résultats Quiz</li>
                </ul>
            </li>
            <li nz-menu-item routerLink="settings">
                <i nz-icon nzType="setting" nzTheme="outline"></i>Configuration de l'application
            </li>
            <li nz-menu-item routerLink="web-app" (click)="launchWebApp()">
                <i nz-icon nzType="play-circle" nzTheme="outline"></i>Lancer l'application
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-content>
            <div class="inner-content" data-cy="content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
