:host(app-dashboard)  {
    ::ng-deep .ant-input-disabled,
    .ant-input[disabled] {
        cursor: default;
    }
    .container-profile {
        .generate-ean {
            width: 600px;
            margin-top: 25px;
        }
    }
    nz-layout {
        width: 100%;
        height: 100%;
    }
    .inline {
        display: flex;
    }
    .inner-content {
        padding: 12px 16px;
        background: #fff;
        height: 100%;
    }

    .sidebar-logo {
        background-color: #001429;
        display: flex;
        justify-content: center;
        .logo {
            display: block;
            width: 120px;
            height: 100px;
            background-image: url('/assets/logo.png');
            background-size: cover;
            margin: 16px 0 16px 0;
        }
    }
    .none {
        display: none;
    }
    @media screen and (max-width: 640px) {
        .container-profile {
            .generate-ean {
                width: 300px !important;
            }
        }
    }
}
