<h2 style="text-align: center">Création de Quiz</h2>
<form nz-form>
    <nz-form-item>
        <nz-form-label [nzSm]="5" nzFor="quiz">Nom du quiz</nz-form-label>
        <nz-form-control [nzSm]="6">
            <input nz-input id="quiz" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Catégorie du quiz</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selectionner la catégorie du quiz"
                [(ngModel)]="selectedValueQuizCategory"
                [ngModelOptions]="{ standalone: true }"
            >
                <nz-option nzLabel="Pollution digitale" nzValue="fr"></nz-option>
                <nz-option nzLabel="Smartphone" nzValue="en"></nz-option>
                <nz-option nzLabel="Obsolescence programmée" nzValue="cn"></nz-option>
                <nz-option nzLabel="Poids carbone" nzValue="de"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <div *ngFor="let question of questions; let i = index">
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzFor="quiz">Question {{ i + 1 }}</nz-form-label>
            <nz-form-control [nzSm]="6">
                <input nz-input id="question" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzFor="quiz">Choix multiple</nz-form-label>
            <nz-switch [(ngModel)]="switchValue" [ngModelOptions]="{ standalone: true }"></nz-switch>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzFor="quiz"
                ><span
                    >Réponses
                    <i
                        nz-icon
                        nz-tooltip
                        nzTitle="Séparer les réponses par des virgules."
                        nzType="question-circle"
                        nzTheme="outline"
                    ></i></span
            ></nz-form-label>
            <nz-form-control [nzSm]="6">
                <input nz-input id="answer" />
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col nzSpan="6" nzOffset="6">
        <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="addQuestion()">
            <i nz-icon nzType="plus"></i>Ajouter une question
        </button>
    </div>
</form>
