<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Question 1"> </nz-step>
    <nz-step nzTitle="Question 2"> </nz-step>
    <nz-step nzTitle="Question 3"> </nz-step>
    <nz-step nzTitle="Question 4"> </nz-step>
    <nz-step nzTitle="Résultat"> </nz-step>
</nz-steps>

<div class="steps-content">
    <div *ngIf="!doneQuiz">
        <h2>{{ questions[0].title }}</h2>
        <nz-radio-group [(ngModel)]="radioValue">
            <label
                nz-radio
                [ngStyle]="style"
                [nzValue]="i"
                *ngFor="let proposition of questions[0].propositions; let i = index"
                class="align-checkbox"
                >{{ proposition.title }}</label
            >
        </nz-radio-group>
    </div>
    <div *ngIf="doneQuiz">
        <h1>
            {{ messageDone.title }}
        </h1>
        <ul style="padding-left: 0px">
            <li style="list-style: none;">0 à 5 bonnes réponses : 7%</li>
            <li style="list-style: none;">6 à 10 bonnes réponses : 24%</li>
            <li style="list-style: none;">11 à 15 bonnes réponses : 48%</li>
            <li style="list-style: none;"><strong>16 à 20 bonnes réponses : 21%</strong></li>
        </ul>
        <button style="margin-bottom: 20px" nz-button [nzSize]="'large'" nzType="primary" (click)="viewAnswer()">
            <i nz-icon nzType="eye" nzTheme="outline"></i>Voir les réponses
        </button>
    </div>
</div>
<div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0 && !doneQuiz">
        <span>Précédent</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 3">
        <span>Suivant</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 3">
        <span>Terminé</span>
    </button>
</div>

<button nz-button [nzSize]="'large'" nzType="primary" (click)="previousPlayChoice()">
    <i nz-icon nzType="rollback" nzTheme="outline"></i>Retour au choix du jeu
</button>
