:host(app-web-app-quiz)  {
  [nz-radio] {
    display: flex;
  }

  .align-checkbox {
    display: flex !important;
    align-items: center;
  }
  .steps-content {
    padding-top: 35px !important;
  }
  .steps-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }

  .steps-action {
    margin-top: 24px;
  }

  button {
    margin-right: 8px;
  }
}
